@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
  margin-right: 30px;
  font-size: 10px;
  text-align: center;
}

strong {
  display: block;
  font-size: 2em;
}

.vote,
.answer {
  width: 60px;
  height: 60px;
}

.status.unanswered {
  border: none;
}

.status.answered {
  border: 1px solid #5fbb7e;
  color: color-green;
}

.status.answered-accepted {
  background: #5fbb7e;
  color: #fff;
}

.view {
  margin-top: 18px;
}
form.form-delete{
  display: inline;
}
